In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_test = pd.read_csv("../../data/ElectricDemandForecasting-DL-master_data_CECOVEL_test.csv")

In [3]:
df_test.head()

     value         timestamp
0   27.298  2016-03-01T00:00
1  176.818  2016-03-01T01:00
2  137.341  2016-03-01T02:00
3  116.532  2016-03-01T03:00
4   84.029  2016-03-01T04:00

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2207 entries, 0 to 2206
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   value      2207 non-null   float64
 1   timestamp  2207 non-null   object
dtypes: float64(1), object(1)
memory usage: 34.6+ KB

In [5]:
df_train = pd.read_csv("../../data/ElectricDemandForecasting-DL-master_data_CECOVEL_train.csv")

In [6]:
df_train.head()

    value         timestamp
0   1.000  2015-03-02T00:00
1  32.565  2015-03-02T01:00
2  38.347  2015-03-02T02:00
3  26.616  2015-03-02T03:00
4  17.202  2015-03-02T04:00

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   value      8759 non-null   float64
 1   timestamp  8759 non-null   object
dtypes: float64(1), object(1)
memory usage: 137.0+ KB

In [8]:
full_df = df_train.append(df_test)

In [9]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10966 entries, 0 to 2206
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   value      10966 non-null  float64
 1   timestamp  10966 non-null  object
dtypes: float64(1), object(1)
memory usage: 257.0+ KB

In [10]:
from datetime import datetime

In [11]:
string_timestamp = full_df.iloc[0]["timestamp"]

In [12]:
string_timestamp

'2015-03-02T00:00'

In [13]:
# testando função
datetime.strptime(string_timestamp, '%Y-%m-%dT%H:%M')

datetime.datetime(2015, 3, 2, 0, 0)

In [14]:
days = full_df["timestamp"].apply(lambda x : datetime.strptime(x,'%Y-%m-%dT%H:%M').day)

In [15]:
months = full_df["timestamp"].apply(lambda x : datetime.strptime(x,'%Y-%m-%dT%H:%M').month)

In [16]:
years = full_df["timestamp"].apply(lambda x : datetime.strptime(x,'%Y-%m-%dT%H:%M').year)

In [17]:
hours = full_df["timestamp"].apply(lambda x : datetime.strptime(x,'%Y-%m-%dT%H:%M').hour)

In [18]:
minutes = full_df["timestamp"].apply(lambda x : datetime.strptime(x,'%Y-%m-%dT%H:%M').minute)

In [19]:
dict_months = {1:"Jan",2:"Fev",3:"Mar", 4:"Abr", 5:"Maio",6:"Jun",7:"Jul", 8:"Ago", 9:"Set",10:"Out",11:"Nov",12:"Dez"}

In [20]:
def fromNumberToMonthName(number):
    return dict_months[number]

In [21]:
monthNames = months.apply(fromNumberToMonthName)

# Agora colocando isso tudo no dataframe inteiro (variável full_df)

In [22]:
full_df.head()

    value         timestamp
0   1.000  2015-03-02T00:00
1  32.565  2015-03-02T01:00
2  38.347  2015-03-02T02:00
3  26.616  2015-03-02T03:00
4  17.202  2015-03-02T04:00

In [23]:
full_df["Dia"] = days
full_df["Mês"] = monthNames
full_df["Ano"] = years
full_df["Hora"] = hours
full_df["Minuto"] = minutes

In [24]:
full_df.head()

    value         timestamp  Dia  Mês   Ano  Hora  Minuto
0   1.000  2015-03-02T00:00    2  Mar  2015     0       0
1  32.565  2015-03-02T01:00    2  Mar  2015     1       0
2  38.347  2015-03-02T02:00    2  Mar  2015     2       0
3  26.616  2015-03-02T03:00    2  Mar  2015     3       0
4  17.202  2015-03-02T04:00    2  Mar  2015     4       0

In [25]:
full_df.describe()

              value           Dia           Ano          Hora   Minuto
count  10966.000000  10966.000000  10966.000000  10966.000000  10966.0
mean      33.627420     15.803028   2015.332573     11.501733      0.0
std       74.574178      8.802336      0.471157      6.921944      0.0
min        0.000000      1.000000   2015.000000      0.000000      0.0
25%        8.973000      8.000000   2015.000000      6.000000      0.0
50%       16.691000     16.000000   2015.000000     12.000000      0.0
75%       30.449250     23.000000   2016.000000     17.750000      0.0
max      989.000000     31.000000   2016.000000     23.000000      0.0