In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_test = pd.read_csv("ElectricDemandForecasting-DL-master_data_CECOVEL_test.csv")

In [3]:
df_test.head()

     value         timestamp
0   27.298  2016-03-01T00:00
1  176.818  2016-03-01T01:00
2  137.341  2016-03-01T02:00
3  116.532  2016-03-01T03:00
4   84.029  2016-03-01T04:00

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2207 entries, 0 to 2206
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   value      2207 non-null   float64
 1   timestamp  2207 non-null   object
dtypes: float64(1), object(1)
memory usage: 34.6+ KB

In [5]:
df_train = pd.read_csv("ElectricDemandForecasting-DL-master_data_CECOVEL_train.csv")